---
// src/layouts/BlankLayout.astro
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <slot name="head" />
        <style is:global>
            *,
            *::before,
            *::after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            body {
                width: 100%;
                overflow-x: hidden;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>
